.riders-select {
  overflow-y: auto;
}

.team-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px;
  align-content: center;
  margin-top: 5px;
}

.team-sign {
  display: flex;
  flex-direction: column;
}

.team-name {
font-weight: bold;
text-align: center;
}

.riders-wrapper {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
  grid-template-rows: 40px 40px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}