.race-info {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 25%;
  width: 45%;
  border: 2px solid #999;
  border-radius: 4px;
  padding: 10px
}

.race-details {
  position: relative;
  align-self: top;
}

.race-profile-img {
  position: relative;
  align-self: center;
  height: 90%;
  width: 60%;
}